= form_for @word do |f|
  - if @word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word.errors.count, "error")} prohibited this word from being saved:"
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.large-7
    %legend Add new Word
    .large-10
      = f.text_field :original, :placeholder => "Original word"
    .large-10
      = f.text_field :translit, :placeholder => "Translit word"
    .center_box
      = f.submit 'Save', class: 'button'
